name: build profile assets

on: []
#  schedule:
#    - cron: "0 */24 * * *"
#  workflow_dispatch:
#  push:
#    branches: [main]

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: generate youtube music widget
        uses: daeun503/profile-music-widget@main
        with:
          playlist_id: PLrpWLWlmavXBXidc7niUbK3dK39KVnugD
          theme: default.svg
          is_gif_bg: true

      - name: Deploy dist to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
